
/*choose template*/
.choose-template ul {
  list-style-type: none;
}

.choose-template li {
  display: inline-block;
}

.choose-template input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

.choose-template label {
  border: 1px solid #fff;
  padding: 10px;
  display: inline-block;
  position: relative;
  margin: 0px 35px;
  cursor: pointer;
}
.mt-50{
  margin-top: 50px;
}
.my-15{margin:0px 15px !important; }

.choose-template label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #4C5479;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.choose-template label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.choose-template label .template {
  height: 150px;
  width: 150px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #4C5479;
  border-radius:5px;
}

:checked + .tickmark:before {
  content: "✓";
  background-color: #394372;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}
